<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Int_GradeSystem.Properties.Settings.Group3_DatabaseConnectionString"
            connectionString="Data Source=BLAKE\SQLEXPRESS;Initial Catalog=Group3_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Int_GradeSystem.Properties.Settings.Grading_SystemConnectionString"
            connectionString="Data Source=BLAKE\SQLEXPRESS;Initial Catalog=Grading_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>